.color-picker-control {
	display: flex;
	align-content: flex-end;
}
.color-picker-control label {
	margin-right: 10px;
}
.color-control-wrap {
	position: relative;
}
.color-picker-control > .color-control-wrap > .swatch {
	padding: 5px;
	height: min-content;
	background: #fff;
	border-radius: 1px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	cursor: pointer;
}
.color-picker-control .popup {
	border: 1px solid #606060;
	background: white;
	padding: 10px;
	position: absolute;
	top: 24px;
	left: -1px;
	z-index: 2;
}
.color-picker-control .color-preview-box {
	width: 14px;
	height: 14px;
	border-radius: 2px;
}
.color-picker-control > .color-control-wrap > .swatch.disabled,
.color-picker-control .color-preview-box.disabled {
	opacity: 0.4;
	cursor: not-allowed;
}