.color-picker {
	background-color: white;
	width: 230px;
}
.color-picker .body {
	display: grid;
	grid-template-columns: 1fr 50px;
	height: 200px;
	z-index: 12;
}
.color-picker .hue-group {
	position: relative;
	display: flex;
	flex-direction: row;
	margin-left: 10px;
}
.color-picker .hue-wrap {
	position: relative;
	width: 12px;
}
.color-picker .saturation-wrap {
	width: 100%;
	height: 150px;
	position: relative;
}
.color-picker .hue-pointer {
	margin-top: 1px;
	width: 20px;
	border-radius: 2px;
	height: 8px;
	position: absolute;
	top: -5px;
	box-shadow: rgba(0, 0, 0, 0.5) 0 1px 4px;
	background: white;
	transition: transform .3s;
	transform: translateX(-4px);
}
.color-picker .hue-pointer:hover {
	transform: translateX(-4px) scale(1.15);
}

.color-picker .values {
	margin: 10px 0;
	display: grid;
	grid-template-columns: 2fr 3fr 3fr 3fr 6fr;
	grid-template-rows: 20px ;
	grid-gap: 5px;
}
.color-picker .values > div {
	text-align: center;
	display: flex;
	flex-direction: column;
}
.color-picker .values input {
	display: block;
	width: 100%;
	max-width: fit-content;
	color: #575757;
	background-color: #fff;
	border: 1px solid #606060;
	transition: border-color .3s ease-in-out;
	border-radius: 3px;
}
.color-picker .values label {
	color: #575757;
	font-size: small;
	user-select: none;
}

.color-picker .h.swatches {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 15px;
	z-index: 12;
}

.color-picker .h.swatches > div {
	margin: 3px;
	width: 25px;
	height: 25px;
}
.color-picker .v.swatches {
	width: 14px;
	margin-left: 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.color-picker .v.swatches > div {
	height: 20%;
}

.color-picker .values > .color-preview-box {
	width: 20px;
	height: 20px;
	border-radius: 3px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.1), inset 0 0 2px rgba(0,0,0,.2);
}