.swatches > .swatch {
	cursor: pointer;
	border-radius: 2px;
	transition: transform .3s;
}
.swatches > .swatch.active,
.swatches > .swatch:hover {
	transform: scale(1.12);
}
.swatches.v > .swatch.active {
	border: 2px solid white;
}